body {
	text-align: center;
}

a:link, a:visited, a:active {
	color: #6699FF;
	text-decoration: none;
}

a:hover {
	color: #66CCFF;
	text-decoration: underline;
}

body,td,th {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3";
	font-size: 11.5px;
	_font-size: 12px;
	color: #666666;
	line-height: 1.8;
	_line-height: 1.6;
}

.contentsMain {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 456px;
	height: 458px;
	background: url(../img/bg.gif) no-repeat;
	position: relative;
}

.cover {
	top: 138px;
	left: 27px;
	position: absolute;
	z-index: 10;
}

.info {
	top: 138px;
	left: 27px;
	position: absolute;
	width: 401px;
	text-align: left;
}

.text {
	padding-left: 121px;
}

.fromEditor {
	padding: 7px 0 2px 121px;
}

.message {
	padding-left: 121px;
}

.linedot {
	padding: 8px 0;
}

.subtext {
	font-family: "‚l‚r ƒSƒVƒbƒN", "Osaka|“™•";
	font-size: 10px;
	line-height: 1.4;
}

.btnClose {
	padding: 5px 0 25px 0;
}
