/* CSS Document */


#contents-substance #story-box{
	margin:20px;
	width:460px;
}

#story-box div{
	width:460px;
}

/* clear fix */
#story-box div{
	zoom:1;/*for IE 5.5-7*/
}
#story-box div:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	visibility:hidden;
}

#story-box div p{
	display:block;
	float:left;
}

/*  */

#text-01{
	width:250px;
	height:100px;
	background:url(original-layout/p-text-01-bg.gif) no-repeat;
}

#text-01 span{
	margin:0px;
	padding:0px;
	width:1px;
	height:0px;
	position:absolute;
	top:0px;
	left:-999px;
	z-index:100;
	display:run-in;
	border-style:none;
	overflow:hidden;
}

#text-02{
	margin:10px 0 15px;
	width:440px;
	height:100px;
	background:url(original-layout/p-text-02-bg.gif) no-repeat;
}

#text-02 span{
	margin:0px;
	padding:0px;
	width:1px;
	height:0px;
	position:absolute;
	top:0px;
	left:-999px;
	z-index:100;
	display:run-in;
	border-style:none;
	overflow:hidden;
}