body {background-image:url(/megaman/images/backgrounds/junkbg.gif);}
a {color:6666FF;}
A:visited {COLOR: #99CC99;}
A:active {COLOR: #007040;}
A:hover {COLOR: #F7EFEF;}

.glow {
filter:glow(color=CCCCFF,strength=3);
width:100%;
}

.title {color:#FFCCCC; align:right; font-family:Arial,Helvetica,sans-serif; font-weight:bold;}

.menu {background-color:black;layer-background-color:black;font-size:12;font-family:arial;color:ffffff;}
.menu a {color:ffffff}
.menu a:hover {color:6699ff;text-decoration:none}
a.menu {color:ffffff}