body {background-image:url(/sonichq/megaman/images/backgrounds/soccerheads.gif); background-color:006000;}
a {color:FFCCFF;}
A:visited {COLOR: #FF0099;}
A:active {COLOR: #6633CC;}
A:hover {COLOR: #FFFFFF;}

.pathlinks a:hover {text-decoration:none;}
.pathlinks {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:00FF00;
}

.glow {
filter:glow(color=CCCCFF,strength=3);
width:100%;
}

.title {color:#FFCCFF; align:right; font-family:Arial,Helvetica,sans-serif; font-weight:bold;}

.menu {background-color:black;layer-background-color:black;font-size:12;font-family:arial;color:ffffff;}
.menu a {color:ffffff}
.menu a:hover {color:6699ff;text-decoration:none}
a.menu {color:ffffff}