@charset "UTF-8";
/* contents-section01   ===================================================== */
#contents-section01 {
	float:left;
	width: 450px;
	height: 585px;
	background:url(contents-section01/contents-section01-background.png) no-repeat;
}

#contents-section01 h2{
	margin: 33px auto 13px;
	width: 325px;
	height: 390px;

}

#contents-section01 h3 {
	margin: 0 auto;
	width: 325px;
}

#contents-section01 p {
	margin: 0 auto;
	width: 120px;
}

#contents-section01 p a{
	display: block;
	height: 57px;
	background: url(contents-section01/enter.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
