<style type="text/css">
body {background-color: #000000;}
h1 {
	color: #ffffff;
}
h2 {
	color: #ffffff;
}
h3 {
	color: #ffffff;
}
h4 {
	color: #ffffff;
}
h5 {
	color: #ffffff;
}
h6 {
	color: #ffffff;
}
p {
	color: #ffffff;
}
a: link {
	color: #3333FF;
}
a: visited {
	color: #9933CC;
}
a: hover {
	color: #3333FF;
}
a: active {
	color: #FF3333;
}
</style>