@charset "UTF-8";

/* substance-text setting ================================================= */
#pic-1st{
	display:block;
	width:320px;
	margin:0 15px 0 0;
	float:left;
}

#pic-2nd{
	display:block;
	width:320px;
	margin:0 0 0 15px;
	clear:both;
	float:right;
}

#pic-3rd{
	display:block;
	width:190px;
	margin:0 15px 0 0;
	clear:both;
	float:left;
}