/* common class   ===================================================== */
/* hidden ------------------------------------------------------------- */
.displayNone{
	display:none;
}
.displayHidden {
	margin:0px;
	padding:0px;
	width:1px;
	height:0px;
	position:absolute;
	top:0px;
	left:-999px;
	z-index:100;
	display:run-in;
	border-style:none;
	overflow:hidden;
}

/* float ------------------------------------------------------------- */
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.clearBoth{
	clear:both;
}


/* margin ------------------------------------------------------------ */
.mt5 {
	margin:5px 0 0 0;
}
.mt10 {
	margin:10px 0 0 0;
}

.mb5 {
	margin:0 0 5px 0;
}
.mb10 {
	margin:0 0 10px 0;
}

.mr5 {
	margin:0 5px 0 0;
}
.mr10 {
	margin:0 10px 0 0;
}

.ml5 {
	margin:0 0 0 5px;
}
.ml10 {
	margin:0 0 10px;
}

.mt1em {
	margin:1em 0 0 0;
}
.mt2em {
	margin:2em 0 0 0;
}

.mb1em {
	margin:0 0 1em 0;
}
.mb2em {
	margin:0 0 2em 0;
}

/* padding ---------------------------------------------------------- */
.pt5 {
	padding:5px 0 0 0;
}
.pt10 {
	padding:10px 0 0 0;
}

.pb5 {
	padding:0 0 5px 0;
}
.pb10 {
	padding:0 0 10px 0;
}

.pr5 {
	padding:0 5px 0 0;
}
.pr10 {
	padding:0 10px 0 0;
}

.pl5 {
	padding:0 0 0 5px;
}
.pl10 {
	padding:0 0 0 10px;
}

.pt1em {
	padding:1em 0 0 0;
}
.pt2em {
	padding:2em 0 0 0;
}

.pb1em {
	padding:0 0 1em 0;
}
.pb2em {
	padding:0 0 2em 0;
}

/* text size -------------------------------------------------------- */
.txt-small{
	font-size:small;
}
.txt-xsmall{
	font-size:x-small;
}
.txt-xxsmall{
	font-size:xx-small;
}

/* text weight ----------------------------------------------------- */
.txtBold{
	font-weight:bold;
	letter-spacing:-0.04em;
}

/* text align ------------------------------------------------------ */
.txtCenter{
	text-align:center;
}
.txtLeft{
	text-align:left;
}
.txtRight{
	text-align:right;
}

/* text color ------------------------------------------------------ */
.txtRed{
	color:#f00;
}

.textLiteBlue{
	color: #36F;
}

/* caution --------------------------------------------------------- */
.caution{
	clear:both;
	font-size:x-small;
	line-height:1.2em;
}

/* listStyle ------------------------------------------------------- */
.discList li{
	background:url(all-tag/li-bg-disclist.gif) no-repeat left 0.6em ;
	text-indent:5px;
}