/* all-substance   ===================================================== */

#all-substance{
	float:right;
	width:580px;
	padding:0 5px 5em 0;
	
	background:url(all-substance/div-bg.jpg) no-repeat left top;
}

#all-substance h2{
	margin:0;
	padding:0;
	line-height:0;	
}

#all-substance h3{
	clear:both;

	margin:2em 15px 1em;
	padding:0.2em 0.5em;
	border-left:9px solid #fff;
	border-bottom:1px solid #fff;
	
	font-size:medium;
	font-weight:bold;
}

#all-substance .first{
	margin:10px 15px 1em;
}

#all-substance p{
	margin:0 15px 1em;
}


/* column layout  ===================================================== */
.columnOne{
	display:block;
	line-height:1em;
	padding:0 0 0.5em 0;
}

.columnOne span{
	display:block;
	padding:0.3em 0 0 0;
	font-size:85%;
	line-height:1em;
	color:#ffc;
}

#all-substance div.floatLeft{
	margin:0;
	padding:0 10px 1em 15px;
	line-height:0;
	width:270px;
}

#all-substance div.floatRight{
	margin:0;
	padding:0 15px 1em 10px;
	line-height:0;
	width:270px;
}

#all-substance div.floatLeft150{
	float:left;
	margin:0;
	padding:0 10px 1em 15px;
	line-height:0;
	width:150px;
}

#all-substance div.floatRight150{
	float:right;
	margin:0;
	padding:0 15px 1em 10px;
	line-height:0;
	width:150px;
}

#all-substance div p{
	display:block;
	margin:0 0 0.5em;
	padding:0.3em 0 0 0;

	font-size:85%;
	line-height:1.2em;
	color:#ffc;
}


/* soundtrack layout  ===================================================== */

div.soundtrack{
	display:block;
	width:550px;
/*	padding:0 15px 0.5em; */
	margin:0 15px 0.5em;;
}

/* for mac ie 5 */
/*\*//*/
div.soundtrack{
	display:inline-table;
}
/**/

div.soundtrack p{
	display:block;
	float:left;
	margin:0;
	padding:0 15px 0 0;
	width:150px;
}

div.soundtrack dl{
	display:block;
	float:right;
	margin:0;
	padding:0;
	width:390px;
	font-size:85%;
}


div.soundtrack dl dt{
	clear:both;
	float:left;
	margin:0;
	padding:0;
	width:50px;
}

div.soundtrack dl dd{
	float:left;
	margin:0;
	padding:0;
	width:340px;
}

/* Flash  ===================================================== */
.flashcontents{
	margin:0 34px 1em;
}

#noflash{
	width:512px;
	height:337px;
	background:#485469;
	vertical-align:bottom;
	overflow:hidden;
}

#noflash p{
	position:relative;
	top:140px;

	margin:0;
	padding:0;
	text-align:center;
}