body {
background-color:#303f99; background-attachment:fixed;
background-image:url(/sonichq/images/backgrounds/starbkgr.jpg);
font-family:Verdana,Arial; font-size:10pt; font-weight:bold; color:3366FF;
}
a {color:ffffff;}

.maintable {width:90%;}
.glow {filter:GLOW(color=blue, strength=#+7);}

.itemtable {
background-color:transparent; background-image:url(/sonichq/images/backgrounds/starbkgr-dark.jpg); background-attachment:fixed;
font-family:Verdana,Arial; font-size:10pt; font-weight:bold; color:3366FF;
}
.itemtable td {
font-family:Verdana,Arial; font-size:10pt; color:3366FF;
}
.itemtable textarea {
width=95%;height=100;
}

.titlebar a {color:ffffff; font-weight:bold}
.titlebar {
background-color:#333399; layer-background-color:#333399;
padding-left:4; padding-bottom:2; width:100%; font-weight:bold; color:white;
font-family:Verdana,Arial; font-size:10pt;
}

.itemtext {
border-left:4 solid #333399; border-right:4 solid #333399;
padding-left:4; padding-right:4;
font-family:Verdana,Arial; font-size:10pt; font-weight:bold; color:3366FF;
}

.sidebar {
background-color:black; layer-background-color:black;
margin-left:4; padding-left:4; padding-right:4;
font-family:Verdana,Arial; font-size:10pt; font-weight:bold; color:white;
}

.menu {background-color:black;layer-background-color:black;font-size:12;font-family:arial;color:ffffff;}
.menu a {color:ffffff}
.menu a:hover {color:6699ff;text-decoration:none}
a.menu {color:ffffff}