body {background-image:url(/sonichq/images/backgrounds/VectorBG.gif)}
a {color:#006600;}

.itemtable {background-color:ffffff; layer-background-color:ffffff; font-family:Arial; font-size:10pt; color:black;}
.itemtable td {
font-family:Arial; font-size:10pt; color:black;
}
.itemtable textarea {
width=95%;height=100;
}

.titlebar a {color:ffffff; font-weight:bold}
.titlebar {
background-color:#009966; layer-background-color:#009933;
background-image:url(/sonichq/m_vector.gif); background-repeat:no-repeat; background-position:top right;
padding-left:4; width:100%; color:white;
}

.itemtext {
border-left:4 solid B3B3B3; border-right:4 solid B3B3B3; padding-left:4; padding-right:4;
}

.sidebar a {color:#FFFFCC;}
.sidebar {
background-color:black; layer-background-color:black;
margin-left:4; padding-left:4; padding-right:4;
font-family:Arial; font-size:10pt; color:white;
}

.menu {background-color:black;layer-background-color:black;font-size:12;font-family:arial;color:#FFFFCC}
.menu a {color:#FFFFCC;text-decoration:none}
.menu a:hover {color:#00CC99;text-decoration:none}