<?xml version="1.0" encoding="UTF-8"?>
<application>
	<assets>
		
		<!-- flvディレクトリがパスベース -->
		<item id="flvA" group="flvA" src="msOpTypeA.flv" />
		<item id="flvB" group="flvB" src="msOpTypeB.flv" />
		<item id="flvC" group="flvC" src="msOpTypeC.flv" />
		
		<!-- swfディレクトリがパスベース -->
		<!--<item id="sounds" group="sounds" src="sounds.swf" />-->
		
	</assets>
</application>