@charset "utf-8";
/* CSS Document */

#common-navigation{
	width:900px;
	margin:0 auto;
	padding:0;
}

/* clear fix */
#common-navigation{/*for IE 5.5-7*/
	zoom:1;
}

#common-navigation:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}


#common-navigation h1{
	width:270px;
	height:250px;
	position:fixed;
	z-index:15;
	top:60px;
}


#common-navigation h1 a{
	display:block;
	width:270px;
	height:250px;
	overflow: hidden;
	font-size: 0;
	line-height: 0em;
	text-decoration: none;
	text-indent: -9999px;
}

#common-navigation nav{
	display:block;
	width:600px;
	height:182px;
	background:url(common-navigation/ul.png) no-repeat center top;
	margin:0 0 0 300px;
}

#common-navigation h2{
	display:none;
}

#common-navigation ul{
	margin:0 0 0 40px;
	padding:10px 0 0;
	height:172px;
	width:550px;
}

#common-navigation ul li{
	display:block;
	width:158px;
	height:149px;
	height:209px;
	padding:0 8px;
	float:left;	
	position:relative;
}

#common-navigation ul li a{
	display:block;
	width:158px;
	height:149px;
	overflow: hidden;
	font-size: 0;
	line-height: 0em;
	text-decoration: none;
	text-indent: -9999px;
}


/*TOPICS*/
#common-navigation li#navigation-topics a{
	background:url(common-navigation/nav-topics.png) top no-repeat;
}

#common-navigation li#navigation-topics a:hover,
body.bodyTopics #common-navigation li#navigation-topics a{
	background:url(common-navigation/nav-topics.png) bottom no-repeat;
}

/*history*/
#common-navigation li#navigation-history a{
	background:url(common-navigation/nav-history.png) top no-repeat;
}

#common-navigation li#navigation-history a:hover,
body.bodyHistory #common-navigation li#navigation-history a{
	background:url(common-navigation/nav-history.png) bottom no-repeat;
}

/*enjoy*/
#common-navigation li#navigation-enjoy a{
	background:url(common-navigation/nav-enjoy.png) top no-repeat;
}

#common-navigation li#navigation-enjoy a:hover,
body.bodyEnjoy #common-navigation li#navigation-enjoy a{
	background:url(common-navigation/nav-enjoy.png) bottom no-repeat;
}
