@charset "UTF-8";
/* common-header   ===================================================== */
#common-header{
	position:fixed;
	z-index:10;
	background:url(header/header.png) repeat-x top;
	height:70px;
	width:100%;
}


header{
	width:900px;
	height:70px;
	margin:0 auto;
	padding:0;
	_text-align:center;
	overflow:hidden;
}

/* clear fix */
header{
	zoom:1;/*for IE 5.5-7*/
}
header:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}

/* ul */
header ul{
	float:right;
	width:183px;
	height:20px;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	padding:8px 10px 0 10px;
	margin-top:15px;
}

/* li */
header ul li {
	float:left;
	display:block;
	overflow:hidden;
	height:9px;
}

/* #header-sega */
header h1{
	float:left;
	width:97px;
	height:32px;
	padding-top:13px;
}

/* #header-segasammy */
header h2{
	float:right;
	width:74px;
	height:24px;
	padding-top:17px;
	padding-left:6px;
}

/* #header-corporate */
#header-corporate {
	width:43px;
	padding-right:10px;
}

#header-corporate a{
	display:block;
	width:43px;
	height:9px;
	background:url(header/header-corporate.gif);
	text-decoration:none;
	text-indent:-9999px;
	overflow:hidden;
	line-height:0em;
}

/* #header-contact */
#header-contact {
	width:61px;
	padding-right:10px;
}

#header-contact a{
	display:block;
	width:61px;
	height:9px;
	background:url(header/header-contact.gif);
	text-decoration:none;
	text-indent:-9999px;
	overflow:hidden;
	line-height:0em;	
}

/* #header-sitemap */
#header-sitemap {
	width:58px;
}
#header-sitemap a{
	display:block;
	width:58px;
	height:9px;
	background:url(header/header-sitemap.gif);
	text-decoration:none;
	text-indent:-9999px;
	overflow:hidden;
	line-height:0em;	
}