@charset "utf-8";
/* CSS Document */

/*-----------------------------------------------------
#common-contents h2
-----------------------------------------------------*/
#common-contents h2{
		background:url(common-contents/h2.png) no-repeat;
}
#common-contents h4{
	padding:15px 0 3px 0;
	color:#f60400;
	font-weight:normal;
	font-size:100%;
}
#common-contents h4:before{
	content:"★";
}

/*-----------------------------------------------------
#common-contents table
-----------------------------------------------------*/
#common-contents table{
	width:100%;
}
#common-contents th{
	width:158px;
	background:#fff;
	border-top:4px solid #118a3b;
	border-bottom:4px solid #118a3b;
	border-left:4px solid #118a3b;
	vertical-align:middle;
}
#common-contents td{
	padding:0 0 0 5px;
	background:#ffd541;
	border-top:4px solid #103ab9;
	border-right:4px solid #103ab9;
	border-bottom:4px solid #103ab9;
	border-left:4px solid #103ab9;
	color:#0f38b2;
	vertical-align:middle;
	font-size:100%;
}
#common-contents td ul{
	padding:0.5em 0;
}
#common-contents td li{
	list-style:inside circle;
	padding:0 0 0 1.5em;
}
#common-contents table img{
	vertical-align:middle;
}
#common-contents hr{
	clear:both;
	border-top:2px dotted #1039b7;
}
#common-contents .clear{
	clear:both;
}

#common-contents td ul li:first-child{
	font-weight:bold;
	font-size:small;
	list-style:none;
	padding:0.3em 0 0 0.5em;
}

#common-contents td ul li:first-child:before{
	content:"●";
}


/*-----------------------------------------------------
#contens-picture
-----------------------------------------------------*/
/*-----------------------------------------------------
#contens-sentences
-----------------------------------------------------*/