@charset "UTF-8";

/* page title setting   ===================================================== */
#substance-title h1{
	background:url("contents-substance/h1.gif") no-repeat;
}

#contents-substance p{
	text-indent:0;
	padding:0;
}
