body {
	font-family:"‚l‚r ƒSƒVƒbƒN", "Osaka|“™•";
	margin: 0px;
	color:#666666;
	background:url(../img/bg.jpg) repeat-x center top;
}

td {
	text-align:center;
	font-size:8pt;
}

.now {
	color:#333333;
}


td a:link {
	color: #666666;
}
td a:visited {
	color: #666666;
}
td a:hover {
	color: #0099cc;
}
td a:active {
	color: #0099cc;
}

/*=================================================
add header
=================================================*/
#add_header{
	width: 100%;
	height: 54px;
	background-image: url(../img/bg_add_header.png);
	background-repeat: repeat-x;
	text-align: center;
}

#add_header #wrap{
	width: 730px;
	margin: 0 auto;
	text-align: center;
}

#add_header #wrap .add_btn{
	width: 580px;
	margin: 0 auto;
	padding-top: 10px;
}

#add_header #wrap .add_btn a img{
	border: none;
}