*
{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Title
{
	font-size: 18px;
}
a.Title:link, a.Title:visited, a.Title:active
{
	text-decoration: none;
}      
a.Title:hover
{
	text-decoration: underline;
}
.Header
{
	font-size: 14px;
}

.Banner
{
	PADDING: 8px;
}
.BannerText
{
	font-weight: bold;
	color: white;
}
a.BannerText:link, a.BannerText:visited, a.BannerText:active
{
	text-decoration: none;
	COLOR: white; 
}      
a.BannerText:hover
{
	text-decoration: underline;
	COLOR: white; 
}


.OKCancelButton
{
	width:80px
}
.SmallerFont
{
	font-size:10px
}
.RP
{
	font-size: 10px;
	color: #cc3366;
}

.MenuItem
{
	color:White;
	font-size: 18px;
	line-height: 2em;
}
a.MenuItem:link, a.MenuItem:visited, a.MenuItem:active
{
	text-decoration: none;
}      
a.MenuItem:hover
{
	text-decoration: underline;
}



.Legal
{
	font-size:9px
}
.Toolbox
{
	background-color:"buttonface";
	padding:2px;
}
.ToolboxItem
{
	border-color:"Window";
	border-style:solid;
	border-width:2px;	
	width:54px;
	height:54px;
}
.Grid
{
	background-color:"White";
	border-color:"#CCCCCC";
	border-width:1px;
	border-style:solid;
}
.GridHeader
{
	color: White;  
	background-color:LightSteelBlue
}
.GridItem
{
	color: #000066;
}
.GridFooter
{
	color:"#000066";
	 background-color:White
}
.GridPager
{
	color:"#000066";
	 background-color:White;
	 text-align:center;
}
a.GridLink:link, a.GridLink:visited, a.GridLink:active
{
	text-decoration: none;
}      
a.GridLink:hover
{
	text-decoration: underline;
}

.GridSelectedItem
{
	color:"White";
	background-color:"#669999"
}

H1
{
	font-weight: bold;
	font-size: larger;
}

.LogInButton
{
	background-color:"White";
	color:"#0000C0";
}
.SignUpButton
{
	background-color:"#FF8000";
	color:"#0000C0";
}


Help.TABLE
{
	border-right: black thin solid;
	border-top: black thin solid;
	border-left: black thin solid;
	border-bottom: black thin solid;
}
HELP.TR
{
	border-top: gray thin solid;
	border-bottom: gray thin solid;
}
HELP.TD
{
}
