@charset "utf-8";
@import "common-header.css";

html, body {
	height :100%;
	overflow :auto;
	margin :0;
	padding :0;
}
h1{
	padding:0;
	margin:0;
}
#flashcontent {
	height:100%;
	margin:0 auto;
	line-height :0;
}
#flashcontent * {
	line-height	:150%;
}

#flashcontent #attention {
	color :#666;
	font-size :80%;
	text-align :center;
}
#flashcontent #main{
	padding:30px 0 50px 0;
	background :#fff url(../images/bg.jpg) repeat-x;
}
#flashcontent #attention h1, #flashcontent #attention h2 {
	color :#666;
}
#flashcontent #attention img {
	border :0;
}
#flashcontent #attention p.appendix {
	text-align :center;
}
#flashcontent #attention a {
	color:#ff9900;
}
#flashcontent #attention a:hover {
	color:#14b7b8;
}


#flashcontent #attention #header {
	background:url(../images/body_bg.gif) repeat-x;
	width:100%;
}
#flashcontent #attention #header ul li img {
	text-decoration:none;
	border:none;
}
#flashcontent #attention #header img {
	
}
#flashcontent #footer{
	border-top:1px solid #eee;
	background:#fff url(../images/footer.gif) repeat-x;
	width:100%;
	color:#666;
	padding-top:20px;
}
#flashcontent #footer a {
	color:#ff9900;
}
#flashcontent #footer a:hover {
	color:#14b7b8;
}
