/* footer --------------------------------------- */
#common-footer{
	color:#96dbe0;
	clear:both;
	width:800px;
	margin:0 auto;
	padding:10px 0px 40px 0px;
	overflow:hidden;
	background:#395669;	
}

#common-footer p{
	margin-bottom:0.5em;
	line-height:1.5em;
	text-align:center;
	font-size:x-small;
	_font-size:xx-small;
}

#common-footer p a{
	line-height:1.5em;
	font-size:x-small;
	_font-size:xx-small;
}
