/* common-contents --------------------------- */
#common-contents{
	background:none;
}


/* clear fix */
#common-contents{
	zoom:1;/*for IE 5.5-7*/
}

#common-contents:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	visibility:hidden;
}


/*  */
#common-contents h1{
	width:820px;
	height:84px;
	
	display:block;
	text-decoration:none;
	text-indent:-9999px;
	overflow:hidden;
	line-height:0em;
	font-size:0px;	
	
	background:url(common-contents/h1_bg.jpg) no-repeat top ;
}

#common-contents p{
	height:480px;
	
	text-decoration:none;
	text-indent:-9999px;
	overflow:hidden;
	line-height:0em;
	font-size:0px;	
	
	background:url(common-contents/common-contents.jpg) no-repeat top center;
}
