@charset "utf-8";
/* CSS Document */

/*-----------------------------------------------------
#common-contents h2
-----------------------------------------------------*/
#common-contents h2{
		background:url(common-contents/h2.png) no-repeat;
}

/*-----------------------------------------------------
#common-contents h3
-----------------------------------------------------*/
#common-contents article h3{
	margin:13px 0 5px 0px;
}
/*-----------------------------------------------------	
#common-contents h4
-----------------------------------------------------*/
#common-contents h4{
	clear:both;
		border:3px #000 solid;
		padding:0.3em 5px 0.3em 35px;
		color:#fff;
}


/* clear fix */
#common-contents h4{/*for IE 5.5-7*/
	zoom:1;
}

#common-contents h4:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}

#common-contents .open{
		background:url(common-contents/h4_openBlock.png) no-repeat 12px center #103ab9;
}
#common-contents .close{
		background:url(common-contents/h4_closeBlock.png) no-repeat 12px center #103ab9;
}

#common-contents h4 .topicsDate{
	float:right;
	color:#eee;
	font-size:small;
}
html* .topicsDate {/*for IE 5.5-7*/
	margin-top:-1.4em;
}
#common-contents h4 .topicsDate:before{
	content:"update ";
	font-size:xx-small;
}
#common-contents h4 .newInfo{
	float:right;
	position:relative;
	top:4px;
	left:-10px;
}
html* .newInfo {/*for IE 5.5-7*/
	margin-top:-1.4em;
}

#common-contents dt{
	font-weight:bold;
	font-size:small;
	padding-top:1em;
}
#common-contents dd{
	padding:0 0 0 2em;
	font-size:small;
}
#common-contents ol li{
	list-style-type:decimal;
	list-style-position:inside;
	text-indent:-2em;
	padding-left:2em;
	font-size:small;
}


#common-contents ul{
	padding-bottom:1em;
}


/*-----------------------------------------------------
.contensSubstance
-----------------------------------------------------*/
.contensSubstance article{
	margin:0 0 0;
	width:100%;
}
.contensSubstance article p{
	clear:both;
}

.contensSubstance article time{
	display:block;
	padding:0.3em;
	background:#103ab9;
	color:#fff;

	border-radius:5px;         /* CSS3 */
	-webkit-border-radius: 5px; /* Webkit */
	-moz-border-radius:5px;    /* Mozilla */
}

.contensSubstance article h5{
	clear:both;
	color:#f60400;
	font-size:medium;
	font-weight:bold;
	clear:both;
	border-top:1px dashed #103ab9;
	margin:2em 0 0;
	padding:2em 0 1em;
	
}

.contensSubstance article h5:first-of-type{
	border-top:none;
	margin:0;
	padding:1em 0 1em;
}

.contensSubstance article h5:before{
	content:"★";
}
.contensSubstance article h6{
	clear:both;
	font-size:small;
	font-weight:bold;
	border-top:1px dotted #ccc;
	padding:0.5em 0;
	
}

/*-----------------------------------------------------
table
-----------------------------------------------------*/

.contensSubstance article table{
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-collapse:collapse;
	margin:0 0 1em;
}

.contensSubstance article th{
	width:130px;
	background:#103ab9;
	vertical-align:top;
	text-align:left;
	font-weight:bold;
	color:#FFF;
	white-space:nowrap;
}

.contensSubstance article th,
.contensSubstance article td{
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:0.5em;
}

.contensSubstance article td{
	color:#000;
	background:#fff;
}
/*-----------------------------------------------------
.imgBox
-----------------------------------------------------*/
.contensSubstance article .imgBox{
	text-align:center;
	margin:0 auto;
	padding:0;	
}
.contensSubstance article .imgBox img{
	padding:5px 0px 5px 15px;
}
.contensSubstance article .imgBox img:first-child{
	padding:5px 0px 5px 0px;
}
.contensSubstance article .imgBox.narrowLeftPad img{
	padding:5px 0px 5px 2px;
}

.attentionBox{
	background:#FF9;
	margin:1em;
	padding:1em 1em 0;
	font-size:x-small;
}
/*-----------------------------------------------------
.captionImage
-----------------------------------------------------*/
.contensSubstance article .captionImage{
	
}
/* clear fix */
.contensSubstance article .captionImage{/*for IE 5.5-7*/
	zoom:1;
}
.contensSubstance article .captionImage:after{/*for modern browser*/
	content:".";
	display: block;
	height:0px;
	clear:both;
	line-height:0; 
	visibility:hidden;
}

.contensSubstance article .captionImage div.left{
	float:left;
}

.contensSubstance article .captionImage div.spaceLeft{
	padding-left:1em;
}

.contensSubstance article .captionImage div.right{
	float:right;
}

.contensSubstance article .captionImage div p{
	clear:both;
	font-size:small;
	text-indent:0em;
	text-align:center;
}


.contensSubstance article .imgLeft th{
	width:auto;
	padding-right:30px;
}

.contensSubstance article .imgLeft p{
	clear:none;
}

/*-----------------------------------------------------
2011/09/07更新「ソニック20周年」公式Twitter用CSS
-----------------------------------------------------*/

#event-sonic20th_twitter20110907 .notAdaptIndent, 
#event-sonic20th_campaign20111111 .notAdaptIndent{
	text-indent:0;
}

#event-sonic20th_twitter20110907 .adaptPaddingBottom0{
	text-indent:0;
	padding:1em 0 0;
}

#event-sonic20th_twitter20110907 .adaptIndent li{
	text-indent:2em;
}

#event-sonic20th_twitter20110907 .adaptListStyleType li,
#event-sonic20th_campaign20111111 .adaptListStyleType li{
	list-style-type:disc;
	margin:0 0 0 2em;
}

.paddingTop1 {
	padding-top:1em;
}

.notSpaceLeft {
	text-indent:0;
	padding-left:0;
}

.notSpace {
	text-indent:0;
	padding:0;
}

#product-sound_track table.musiclist,
#collaborate-miku_diva table.musiclist {
	border: 0;
}
#product-sound_track table.musiclist caption,
#product-sonic_generations table caption,
#event-sonic_puyopuyo table caption {
	caption-side: top;
	text-align: left;
}

#product-sound_track table.musiclist th,
#product-sound_track table.musiclist td,
#collaborate-miku_diva table.musiclist th,
#collaborate-miku_diva table.musiclist td
{
	border: 0;
	width: auto;
	color:#0F38B2;
	background:none;
	padding:0 0.5em;
}

#event-sonic20th_campaign20111111 h5 {
	text-align:center;
}

#event-sonic20th_campaign20111111 h5:before {
	content:"";
}

/*-----------------------------------------------------
2011/11/16更新「ソニック ジェネレーションズ」
-----------------------------------------------------*/
div.attentionBox2 h6 {
	border: 0 !important;
	color: #f00 !important;
	padding: 0 !important;
}

div.attentionBox2{
	border:#f00 solid 1px;
	background:#fff;
	margin:1em;
	padding:1em 1em 0;
}

.attentionText {
	color: #f00;
	font-weight: bold;
}