@charset "UTF-8";

#substance-text h3{
	font-size:large;
	font-weight:bold;
}
/* substance-text class setting ================================================= */
#pic-1st{
	display:block;
	width:200px;
	margin:0 0 0 15px;
	clear:both;
	float:right;
}

#pic-2nd{
	display:block;
	width:320px;
	margin:0 15px 0 0;
	float:left;
}


#pic-3rd{
	display:block;
	width:153px;
	margin:0 0 0 15px;
	clear:both;
	float:right;
}
