@charset "UTF-8";
/* common tag   ===================================================== */
div,span,
ol,ul,li,dl,dt,dd,
h1,h2,h3,h4,h5,h6,
p,a,img,
table,td,th,
blockquote{
	padding: 0;
	margin: 0;
	border: 0;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: small;
	font-style: normal;
	font-weight: normal;
	color: #333;
}

body{
	min-width:900px;
	padding: 0;
	margin: 0;
	background: #fff url(common-tag/body.gif) top repeat-x;
	
}

ul li,ol li {
	list-style: none;
}


a,
a:visited {
	color: #ff3300;
}

a:hover,
a:active {
	color: #3300ff;
}


em{
	color:#f00;
	font-weight:bold;
	font-style:normal;	
}