@charset "UTF-8";

/* chara-data setting ===================================================== */
#chara-data{
	margin:300px 0 1em 0;
}
#chara-data h2{
	background:url("chara-data/h2_bg.gif") no-repeat left top;
}

#chara-data dl{
	background:url("chara-data/dl_bg.gif") no-repeat left 1em;
}
