@charset "shift_jis";

/***********************************************/
/* FileName: reset.css                         */
/* data:2012/04/17                             */
/***********************************************/

* {
margin: 0;
padding: 0;
}

body {
	color:#000;
	text-align:center;
	margin:0 auto;
	padding:0;
	font-size: 82%;
	font-family:'ƒƒCƒŠƒI',Meiryo, 'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN';
	line-height:1.4;
}	

h1, h2, h3, h4, h5, h6, address{
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	font-family:'ƒƒCƒŠƒI',Meiryo, 'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN';
	margin: 0;
	padding: 0;
	line-height:1;
}
textarea{
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	font-family:'ƒƒCƒŠƒI',Meiryo, 'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN';
	margin: 0;
	padding: 0;
	line-height:1.3;
}
  
li {
	list-style-type: none;
}

a {
	color: #333;
}

a img {
	border:none;
}

a:hover {
	border-style: none;
}

a:link {
	border-style: none;
}

a:link img {
	border-style: none;
}

p,dl,dt,dd,ul,ol,li,table{
	margin: 0;
	padding: 0;
	}
table{
	border-collapse: collapse;
	}
img{
	border:0;
	vertical-align:bottom;
	}